config/settings.py
db.sqlite3

.idea
venv
/media

*/migrations


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

config/static
instagram/static
staticfiles"sendgrid.env"
sendgrid.env
