asgiref==3.3.1
beautifulsoup4==4.9.3
Django==3.0.11
django-bootstrap4==2.3.1
django-debug-toolbar==3.2
django-pydenticon==0.2
importlib-metadata==2.1.1
Pillow==8.1.0
pydenticon==0.3.1
python-http-client==3.3.1
pytz==2020.5
sendgrid==6.5.0
soupsieve==2.1
sqlparse==0.4.1
starkbank-ecdsa==1.1.0
zipp==3.4.0
